.body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.highlight-box {
    background-color: #ffd700;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.highlight-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none; /* Removendo sublinhado */
    color: #333;
    background-color: #f7f6f2;
    border-radius: 5px;
}

.highlight-button:hover {
    background-color: #ebebeb;
}

.highlight-box p {
            font-family: "Comic Sans MS", cursive;
            font-size: 24px;
            color: #333;
}

/* Parte da calculdora */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 400px; /* Adicionado para limitar a largura */
    width: 100%; /* Adicionado para responsividade */
}

h1 {
    margin-bottom: 20px;
}

.info p {
    margin: 10px 0;
    font-size: 1.2em;
    text-align: center; /* Centraliza o texto dentro do <p> */
}

strong {
    color: #555;
}
